
.intro{

    position: relative;
}

.head{
    color: #f00e0e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content1{
    margin-top: 5px !important;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .intro{

        position: relative;
    }
    
    .head{
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }