{% extends 'confirmdelete.html' %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/editimage.css' %}">
    <title>Edit</title>
{% endblock %}
{% block body %}
<div class="container col-4" style="margin-top: 80px">
    <h2 class="text-center">Edit Post</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
