{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "/css/index.css" %}">
<title>No Results</title>
{% endblock %}
{% block body %}

<div class="container-fluid"style="width: 94%; margin-top: 60px;">
    <div class="intro">
        <img src="https://images.pexels.com/photos/8797307/pexels-photo-8797307.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="height:60vh; width:100%; object-fit:cover" alt="...">
        <div class="head text-center">
            <h2>The Power of Visual Storytelling</h2>
            <h3>Your One-Stop Shop for Visual Content</h3>
        </div>
    </div>
</div>
<div class="container-fluid" style="width: 94%; margin-top:10px; margin-bottom:10px;">
    <div class="content1">
        <h3 class="">Stock Footage</h3>
        <div class="dropdown ms-auto">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'home' %}?orientation=landscape">Landscape</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}?orientation=portrait">Portrait</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}?orientation=square">Square</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Treanding</a></li>
            </ul>
        </div>    
    </div>
</div>
<div class="container-fluid text-center" style="width: 94%;">
    <h2>No Results Found</h2>
</div>
{% endblock %}