{% extends 'base.html' %}
{% block head %}
    <title>Upload Image</title>
{% endblock %}
{% block body %}
<div class="container-fluid" style="width: 94%; margin-top: 80px">
    <h2 class="text-center">Posts</h2>
    <div class="row">
    {% for image in image %}
        <div class="col-md-4">
          <img src="{{ image.image.url }}" width="100%" height="100%" alt="Uploaded Image">
          <br>
            <div class="box1" style="display:flex; margin-top: 20px;">
                <a class="btn btn-primary" style="margin-right: 20px;" href="{% url 'edit_image' image.id %}">Edit</a>
                <a class="btn btn-danger" style="margin-right: 20px;" href="{% url 'delete_image' image.id %}">Delete</a>
            </div>
        </div>   
    {% endfor %}  
</div>
{% endblock %}
